
{% if es_config %}
{{ es_config | to_nice_yaml }}
{% endif %}

{% if es_config['cluster.name'] is not defined %}
cluster.name: elasticsearch
{% endif %}

{% if es_config['node.name'] is not defined %}
node.name: {{inventory_hostname}}-{{es_instance_name}}
{% endif %}

#################################### Paths ####################################

# Path to directory containing configuration (this file and logging.yml):
path.conf: {{ conf_dir }}

path.data: {{ data_dirs | array_to_str }}

path.logs: {{ log_dir }}

{% if es_backup == true %}
path.repo: [ "{{ es_backup_mountpoint }}" ]
{% endif %}

discovery.zen.minimum_master_nodes: 2

#xpack.graph.enabled: false
#xpack.ml.enabled: false
#xpack.monitoring.enabled: false
#xpack.security.enabled: false
#xpack.watcher.enabled: false

http.cors.enabled: true
http.cors.allow-origin: "*"
network.host: 0
network.publish_host: {{ ansible_ssh_host }}
